@import url(style.css);
@import url(planos.css);

#main-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--cinza), var(--cinza-escuro));
    margin: 0px;
    padding: 20px;
}

.box-form{
    background-color: var(--branco);
    padding: 20px;
    border: 1px solid var(--cinza);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
}

.descricao-form{
    text-align: center;
    font-weight: 600;
}

.input, .botao{
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    background-color: var(--cinza);
}

.inputs{
    padding: 10px 100px 10px 10px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

.inputs:hover{
    animation-duration: 7s;
    background-color: var(--vermelho);
    color: var(--branco);
}

.inputs:hover::placeholder{
    color: var(--branco);
}

.form-check{
    margin-left: 10px;
}

.botao{
    background-color: var(--vermelho);
    color: var(--branco);
    font-weight: 700;
    width: 100%;
}

.botao:hover{
    background-color: var(--cinza-escuro);
    color: var(--preto);
}


.assinatura{
    margin-left: 10px;
    flex-wrap: wrap;
}

.assinatura:checked{
    accent-color: var(--vermelho);
}

.lista-comandos{
    padding: 0;
    margin: 0;
}

.comandos{
    
    margin: 20px;
}

.lista-comandos-itens{
    
    margin: 10px;
}

@media (max-width: 1000px) {
    #main-cadastro{
        height: 100vh;
    }
}

@media (max-width: 800px) {
    #main-cadastro{
        height: auto;
    }
}