*{
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
}

:root{
    --vermelho: #ba181b;
    --preto: #0b090a;
    --branco: #FFFFFF;
    --cinza: #e5e5e5;
    --cinza-escuro: #adb5bd;
    --bs-body-font-family: "Rubik", sans-serif;
}

body{
    background-color: var(--branco);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 16px;
    font-family: var(--bs-body-font-family) !important;
}

header{
    background-color: var(--vermelho);
    color: var(--cinza) !important;
}

.header-titulo{
    padding: 15px;
    font-size: 1.2em;
}

nav{
    padding: 10px;
    background-color: var(--preto);
    color: white;
    align-items: center;
    gap: 10px;
}

.nav-item{
    margin: 0 15px;
}

.nav-item:hover{
    font-weight: 700;
    text-decoration: underline;
}

.nav-item-ativo{
    text-transform: uppercase;
    font-weight: 700;
}

.nav-item-ativo:hover{
    text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-voltar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
}

.ancoras{
    /*padding: 10px;
    background-color: var(--vermelho);
    border-radius: 10px;
    color: var(--branco);*/
    margin: 10px;
    text-decoration: none;
    transition: transform 1s;
    
}

.ancoras:hover{
    /*background-color: var(--preto);*/
    color: var(--cinza-escuro);
    transform: translateX(0) scale(1.1);
}

.ancoras-texto{
    text-decoration: none;
    color: var(--vermelho);
    font-weight: 700;
}

.ancoras-texto:hover{
    transform: translateX(0) scale(1.1);
}


main{
    margin: 20px;
    background-color: var(--branco);
}


h1{
    text-align: center;
    color: var(--vermelho);
    font-size: 2em;
}

h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

p{
    font-size: 1em;
}

.negrito{
    font-weight: bold;
}

.small{
    font-variant: small-caps;
}

.sublinhado{
    text-decoration: underline;
}

.italico{
    font-style: italic;
}

.italico, .sublinhado, .negrito{
    color: var(--vermelho);
}


.titulo{
    color: var(--branco);
}

.div-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.secao-aprensentacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-destaque{
    text-align: center;
    margin: 10px;
}

.imagem-principal{
    width: 200px;
}

.imagem-principal:hover{
    transition-duration: 1s;
    transform: translateX(0) scale(0.9);
    filter: grayscale(100%);
}

.escudo-header{
    width: 50px;
}

.imagem-principal{
    width: 300px;
    height: 300px;
}

.btn-valor:hover{
    filter: grayscale(50%);
}

.descricao-jogador{
    margin: 10px 0;
    padding: 10px;
    background: var(--cinza);
    border-radius: 10px;
}

.conteudo{
    display: flex;
    align-self: stretch;
    flex-wrap: wrap;
}

.conteudo-destaque{
    margin: 50px 0;
    padding: 25px 0;
    background: var(--cinza);
}

.div-conteudo{
    display: flex;
    justify-content: center;
}

.div-text-titulo{
    text-align: left;
}

.div-text{
    text-align: justify;
    /*width: 50%*/
    border: 1px var(--cinza) solid;
    padding: 10px 20px;
}


.galeria-tricolor{
    margin: 50px 20px;
}

.carousel-item img{
    height: 700px;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-planos{
    text-align: center;
    border: 1px solid var(--cinza-escuro);
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    max-width: 50%;
}

#planos{
    margin: 10px;
}

ul{
    list-style-type: none;
}

.lista-planos{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lista-planos-itens{
    padding: 5px 10px;
    margin: 2px;
    color: var(--branco);
    background-color: var(--vermelho);
}


table{
    border-collapse: collapse;
    border: 1px solid var(--cinza-escuro);
}

th{
    background-color: var(--cinza);
    font-size: 1.2em;
}

th,td{
    padding: 2px;
}

.secao-planos{
    margin: 50px 0;
}

.div-precos{
    margin: 10px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    background-color: var(--preto);
    color: var(--branco);
}

.footer-texto{
    text-align: center;
    margin: 5px;
}

/*Celulares*/

@media(max-width:991px){
    .nav-item{
        margin: 15px 0;
    }

}

@media (max-width: 750px) {
    .conteudo{
        display: none;
    }

    .div-planos{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    
    .carousel-item img{
        height: 450px;
    }
}

@media (max-width: 400px){
    .div-precos{
        display: none;
    }

    .carousel-item img{
        height: 250px;
    }
}

@media print {
    header{
        display: none;
    }
}
